/* Carrossel */
:root {
    --glass: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);
    --blur: blur(20px);
    --shift-x: 22vw;
}

/* Container  */
.carousel-container {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    perspective: 2000px;
    overflow: hidden;
    color: white;
    width: 100%;
    padding: 10px 0;
}

.carousel-stage {
    position: relative;
    width: 100vw;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

/* Capa de Disco */
.carousel-card {
    position: absolute;
    width: clamp(340px, 20vw, 320px);
    aspect-ratio: 1 / 1;
    background: var(--glass);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border: 1px solid var(--glass-border);
    border-radius: 10px;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #bf9df671, 0 0 5px #3d6d8976, 0 0 8px #6426bb6e !important;

}


.carousel-card.active {
    transform: translate3d(0, 0, 250px) rotateY(0deg);
    z-index: 10;
    opacity: 1;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.carousel-card.left {
    transform: translate3d(calc(var(--shift-x) * -1), 0, -150px) rotateY(30deg) scale(0.85);
    z-index: 5;
    opacity: 0.5;
}

.carousel-card.right {
    transform: translate3d(var(--shift-x), 0, -150px) rotateY(-30deg) scale(0.85);
    z-index: 5;
    opacity: 0.5;
}

.carousel-card.far-left {
    transform: translate3d(calc(var(--shift-x) * -1.8), 0, -500px) rotateY(40deg) scale(0.6);
    z-index: 1;
    opacity: 0.15;
}

.carousel-card.far-right {
    transform: translate3d(calc(var(--shift-x) * 1.8), 0, -500px) rotateY(-40deg) scale(0.6);
    z-index: 1;
    opacity: 0.15;
}

.carousel-card.hidden {
    transform: translate3d(0, 0, -1000px) scale(0.1);
    opacity: 0;
}

/* --- Conteúdo  --- */
.card-img-carrossel {
    height: 78%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 1px solid var(--glass-border);
}

.card-content-carrossel {
    height: 22%;
    padding: 8px 15px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header-carrossel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-carrossel h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ad72c6;
}

.card-footer-carrossel {
    font-size: 12px;
    margin-top: 2px;
    color: white;
}


/* ---  Navegação  --- */
.carousel-controls {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--glass);
    backdrop-filter: var(--blur);
    padding: 8px 18px;
    border-radius: 50px;
    border: 1px solid var(--glass-border);
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    line-height: 1;
    transition: opacity 0.3s;
    font-size: 1.5rem;
}

.pagination-indicators {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid var(--glass-border);
    border-right: 1px solid var(--glass-border);
}

.dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dot.active {
    background: #baeaff;
    width: 14px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(186, 234, 255, 0.5);
}


@media (max-width: 1024px) {
    :root {
        --shift-x: 28vw;
    }

    .carousel-card {
        width: clamp(220px, 25vw, 280px);
    }
}

@media (max-width: 600px) {
    :root {
        --shift-x: 32vw;
    }

    .carousel-stage {
        height: 350px;
    }

    .carousel-card {
        width: 65vw;
        aspect-ratio: 1 / 1;
    }

    .carousel-card.left {
        transform: translate3d(-40%, 0, -200px) rotateY(35deg) scale(0.8);
    }

    .carousel-card.right {
        transform: translate3d(40%, 0, -200px) rotateY(-35deg) scale(0.8);
    }

    .card-footer-carrossel {
        display: none !important;
    }

    .card-header-carrossel.h3,
    .card-content-carrossel {
        font-size: 14px !important;
    }

}