.contato-form-card {
    padding: 15px !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.21);
    backdrop-filter: var(--blur) !important;
    -webkit-backdrop-filter: var(--blur) !important;
    border: 1px solid var(--glass-border) !important;

}

.input-contato {
    background-color: rgba(29, 0, 32, 0.697) !important;
    color: rgb(247, 240, 255);
}

.input-contato::placeholder {
    color: rgb(102, 102, 102) !important;
}