.contato-form-card {
    padding: 15px !important;
    background: rgba(143, 45, 158, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
}

.input-contato {
    background-color: rgba(29, 0, 32, 0.697) !important;
    color: rgb(247, 240, 255);
}

.input-contato::placeholder {
color: rgb(102, 102, 102) !important;
}