body {
  position: relative;
}

.sobre-hero-topo {
  backdrop-filter: blur(12px);
  background-image: url("../imagens/fundo/novo\ 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.sobre-hero {
  backdrop-filter: blur(12px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.logo-topo {
  filter: drop-shadow(0 0 1rem rgba(210, 14, 236, 0.725));
}

.sobre-imagem-wrapper img {
  width: 450px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0 25px 50px rgba(0, 0, 0, .45);
  box-shadow: 0 0 10px #fff, 0 0 25px #d000ff, 0 0 50px #6f00ff9d;
}

.historia-secao {
  padding: 6rem 1.5rem;
}

.historia-subtitulo {
  max-width: 600px;
  margin: auto;
}

.historia-imagem-wrapper img {
  width: 500px;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .35);
  box-shadow: 0 0 10px #fff, 0 0 25px #d000ff, 0 0 50px #6f00ff9d;

}

.historia-imagem-wrapper-billy img {
  height: 300px;
  box-shadow: 0 0 10px #fff, 0 0 25px #d000ff, 0 0 50px #6f00ff9d !important;

}

.projetos-card {
  background: rgba(255, 255, 255, .05);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 2.5rem;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: .2s ease;
}

.projetos-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(116, 62, 177, 0.622);
}

.projetos-texto {
  color: #fef0ff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: .5rem;
  color: #bfff00;
}

@media (max-width: 768px) {

  .sobre-imagem-wrapper img,
  .historia-imagem-wrapper img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .logo-topo img {
    max-width: 280px;
    height: auto;
  }


}