@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rammetto+One&display=swap');

html {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin: 0 !important;
}

body {
  min-height: 100vh;
  background-image: url("../imagens/fundo/3265419.jpg") !important;
  background-repeat: repeat;
  background-size: fill;
  width: 100%;
  position: relative;
}

h1,
h2,
.subtitle,
.subtitulo-detalhes {
  text-shadow: -1px 1px rgba(25, 0, 31, 0.53) !important;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Rammetto One", sans-serif;
  font-weight: 200 !important;
}

hr {
  background-color: #f988ff1e !important;
  height: 2px;
  width: 90%;
  margin: 1.5rem auto;
}

/* Cores Personalizadas */
:root {
  --bulma-primary-h: 176deg;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 46%;
  --bulma-link-h: 274deg;
  --bulma-info-h: 208deg;
  --bulma-info-s: 93%;
  --bulma-info-l: 81%;
  --bulma-success-h: 140deg;
  --bulma-success-s: 61%;
  --bulma-success-l: 59%;
  --bulma-danger-l: 61%;
  --bulma-burger-h: 272deg;
}

/*  Navbar  */
.navbar-topo,
.footer-geral {
  background-color: rgba(44, 20, 68, 0.851) !important;
  backdrop-filter: blur(10px);
  --bulma-navbar-dropdown-arrow: #f5f5f5;
}

.navbar-topo .navbar-item,
.navbar-topo .nav-itens,
.navbar-topo .navbar-link,
.footer-geral p,
.footer-geral b {
  color: #ffffff !important;
}

.navbar-dropdown, .navbar-dropdown .navbar-item {
  background-color: rgba(44, 20, 68, 0.851) !important;
}

.navbar-burger {
  color: #f5f5f5 !important;
}

.nav-itens:hover,
.navbar-link:hover,
.nav-itens-sec:hover,
.navbar-start .navbar-item:hover {
  background-color: rgba(61, 27, 94, 0.8) !important;
  color: #ffffff !important;
}

.social-icon:hover {
  filter: drop-shadow(0 0 12px rgba(155, 89, 182, 0.8)) !important;
  transition: filter 0.2s ease;
  transform: translateY(-2px);
}

.newsletter-input::placeholder {
  color: rgba(245, 245, 245, 0.6) !important;
}

.navbar-item-logo {
  background: url("../imagens/logos/BilliVinil_logo_lateral.png") no-repeat center center;
  background-size: cover;
  width: 200px;
  height: 100px;
  filter: drop-shadow(0 0 12px rgba(59, 5, 81, 0.638));
}

.navbar-item-logo:hover {
  filter: drop-shadow(0 0 12px rgba(155, 89, 182, 0.6));
  transform: scale(1.05) rotate(-1.5deg);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*  Botões  */
.button {
  box-shadow: 0px 0px 2px rgba(138, 125, 146, 0.334);
  transition: transform .25s ease, box-shadow .25s ease;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: rgba(243, 214, 223, 0.36) 0px 5px 15px, rgba(98, 41, 102, 0.377) 0px 5px 5px;
  cursor: pointer;
}

#navbarFiltros::-webkit-scrollbar {
  width: 5px;
}

#navbarFiltros::-webkit-scrollbar-thumb {
  background: rgba(35, 0, 46, 0.3);
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {

  body.menu-aberto {
    overflow: hidden !important;
  }

  #navbarFiltros.is-active {
    display: block !important;
    position: fixed !important;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    padding-bottom: 200px;
  }

  #navbarFiltros .navbar-item.has-dropdown .navbar-dropdown {
    position: relative !important;
    top: 0;
    width: 100%;
    box-shadow: none;
    display: none;
  }

  #navbarFiltros .navbar-item.has-dropdown.is-active>.navbar-dropdown {
    display: block !important;
  }
}

@media screen and (min-width: 1024px) {
  #navbarFiltros .navbar-item.has-dropdown.is-active>.navbar-dropdown {
    display: none;
  }

  #navbarFiltros .navbar-item.has-dropdown:hover>.navbar-dropdown {
    display: block !important;
  }

  #navbarFiltros.is-active {
    max-height: none;
    overflow: visible !important;
  }
}

#botao-menu-mobile:hover,
.btn-limpar-filtro:hover {
  background-color: #7f267bda;
}

#botao-menu-mobile.is-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbarFiltros {
  flex-grow: 1;
  justify-content: center;
}

/* Banner Topo  */
.texto-banner-topo {
  background: rgba(47, 36, 55, 0.178) !important;
  border-radius: 15px;
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  box-shadow: -2px 2px 14px #d7a0e55e,
    -4px 6px 30px rgba(102, 0, 255, 0.122);
  padding: 10px !important;
  margin: 30px 25px 30px 25px !important;
  /* top / right / bottom / left */
  display: flex;
}

.hero-ancoras {
  border-radius: 20px;
  background: #a150f37f;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid #9d76a784;
  color: #a3eaff;
  text-align: center;
  box-shadow: -2px 2px #9d76a784;
  padding: 15px;
}

/* Banners de Título das Seções */
.titulo-sessao {
  backdrop-filter: blur(17px) saturate(156%);
  -webkit-backdrop-filter: blur(17px) saturate(156%);
  background-image: linear-gradient(to right, #ff00cc50, #b200fe3a, #a200ff5e, #0080ff54, #5500ff4f);
  box-shadow: 0 0 18px 4px rgba(216, 75, 255, 0.466);
}

.titulo-destaques {
  backdrop-filter: blur(17px) saturate(156%);
  -webkit-backdrop-filter: blur(17px) saturate(156%);
  background-image: linear-gradient(to right, #ff00cc50, #b200fe3a, #a200ff5e, #0080ff54, #5500ff4f);
  box-shadow: 0 0 18px 4px rgba(216, 75, 255, 0.466);
  border-radius: 20px !important;
}

.titulo-sessao-nov {
  backdrop-filter: blur(17px) saturate(156%);
  -webkit-backdrop-filter: blur(17px) saturate(156%);
  background-image: linear-gradient(to left bottom, #6f00ff80, #ab00d67d, #df00ab70, #f800806f, #ff00627e);
  box-shadow: 0 0 18px 4px rgba(216, 75, 255, 0.466);
}

.titulo-sessao-newsletter {
  backdrop-filter: blur(17px) saturate(156%);
  -webkit-backdrop-filter: blur(17px) saturate(156%);
  box-shadow: 0 0 18px 4px rgba(216, 75, 255, 0.466);
  background-image: linear-gradient(to right bottom, #ff00d077, #d6007675, #df00ab7a, #f8004f7e, #ff00627e);
}

.img-hero {
  object-fit: scale-down;
  width: auto;
  max-height: 450px;
}

/* Animação do logo */
.logo-gato img {
  transition: filter 0.4s ease;
}

.logo-gato:hover {
  filter: drop-shadow(0 0 12px rgba(155, 89, 182, 0.6));
  transform: scale(1.05) rotate(-1.5deg);
}

/* Animação busca */
#section-resultados {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecerBusca 0.45s ease forwards;
}


@keyframes aparecerBusca {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Card Vertical */
.disco-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform .25s ease, box-shadow .25s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.disco-card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.disco-card .disco-footer {
  margin-top: auto !important;
}

.disco-card-container {
  min-height: 575px !important;
}

.disco-card,
.disco-card-horizontal {
  background: rgba(17, 1, 24, 0.595);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  box-shadow:
    0 8px 32px rgba(74, 74, 74, 0.1),
    inset 0 1px 0 rgba(99, 97, 99, 0.5),
    inset 0 -1px 0 rgba(78, 78, 78, 0.1),
    inset 0 0 6px 3px rgba(65, 64, 64, 0.3);
  overflow: hidden;
}

.selo-lateral .selo-desconto {
  right: 290px !important;
  transform: rotate(12deg) !important;
  margin-top: 1px;
  top: 55px;
}

.horizontal-capa .selo-desconto {
  transform: rotate(12deg) !important;
  margin-top: 1px;
  top: 55px !important;
}

.preco {
  color: #61eaea;
}

.disco-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(74, 56, 72, 0.337);
}

/* Tags / Badges */
.disco-tag {
  position: absolute;
}

.destaque-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(208, 247, 255) !important;
  box-shadow: 1px -1px 2px #1f0cecb5,
    -1px 1px 2px #1536f2d4;
}

.oferta-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(255, 208, 235) !important;
  box-shadow: 1px -1px 2px #ec0c83b5,
    -1px 1px 2px #f2156dd4;
}

.importado-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(245, 208, 255) !important;
  box-shadow: 1px -1px 2px #d971fbb5,
    -1px 1px 2px #9215f2d4;
}

.verde-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(229, 255, 208) !important;
  box-shadow: 1px -1px 2px #71fb73b5,
    -1px 1px 2px #15f26dd4;
}

.gold-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(242, 255, 208) !important;
  box-shadow: 1px -1px 2px #fbe971b5,
    -1px 1px 2px #e0f215d4;
}

.turquesa-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(208, 251, 255) !important;
  box-shadow: 1px -1px 2px #3ff8e5b5,
    -1px 1px 2px #15f2ebd4;
}

.prata-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(243, 254, 255) !important;
  box-shadow: 1px -1px 2px #f4f4f4cc,
    -1px 1px 2px #ffffffd4;
}

.vermelho-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(255, 243, 244) !important;
  box-shadow: 1px -1px 2px #f91111cc,
    -1px 1px 2px #ec1383d4;
}

.azul-claro-tag {
  background-color: rgba(19, 0, 21, 0.874) !important;
  backdrop-filter: blur(10px);
  color: rgb(246, 243, 255) !important;
  box-shadow: 1px -1px 2px #3c8dffdc,
    -1px 1px 2px #597dffd4;
}

.disco-tags {
  display: flex;
  gap: 0.4rem;
  z-index: 2;
}

/* Imagem */
.disco-imagem {
  aspect-ratio: 1 / 1;
  background: linear-gradient(90deg, rgba(85, 6, 124, 0.379) 0%, rgba(141, 14, 73, 0.407) 100%);
}

.disco-imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.75rem;
}

.preco,
.preco-detalhes {
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: -1px 1px rgba(41, 0, 52, 0.526) !important;
}

.preco-detalhes .desconto {
  color: #16ff77 !important;
}

/* Card horizontal */
.disco-card-horizontal {
  border-radius: 10px;
  overflow: hidden;
  transition: transform .25s ease, box-shadow .25s ease;
  display: flex;
}

.disco-card-horizontal .columns {
  height: 100%;
}

/* Inversão */
.disco-card-horizontal.reverse .columns {
  flex-direction: row-reverse;
}

.disco-card-horizontal:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 40px rgba(74, 56, 72, 0.337);
}

/* Imagem */
.disco-imagem-horizontal {
  aspect-ratio: 1 / 1;
  background: linear-gradient(90deg, rgba(85, 6, 124, 0.379) 0%, rgba(141, 14, 73, 0.407) 100%);
  height: 100%;
  min-height: 200px;
  border-radius: 10px;
}

.disco-imagem-horizontal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.75rem;
  display: block;
}

.disco-descricao {
  font-size: 0.90rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
  color: rgb(222, 202, 223) !important;
}

.disco-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1rem;
}

/* Cards horizontais mobile */
@media (max-width: 768px) {
  .disco-card-horizontal.reverse .columns {
    flex-direction: column;
  }

  .disco-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .disco-footer .buttons {
    width: 100%;
    justify-content: flex-start;
  }

  .disco-card {
    margin-bottom: 1.5rem;
  }

  .footer .column {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  p,
  h1,
  h2,
  h3,
  .title,
  .subtitle {
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    hyphens: none;
  }
}

/* Footer */
.social-icon:hover {
  filter: drop-shadow(0 0 12px rgba(149, 90, 180, 0.793));
  transition: filter 0.2s ease;
  transform: translateY(-2px);
}

/* Seção Todos os Destaques */
.toggle-destaques {
  background-color: #3d3d3d67 !important;
  color: #ffffff !important;
  box-shadow: 0 0 8px #b096b4, inset 0 0 5px #ad72c6;
  text-shadow: 0 0 5px #ac89bb;
}

.toggle-destaques:hover {
  box-shadow: 0 0 8px #b7b7b7,
    0 0 20px #b9b9b9,
    0 0 30px #c4c4c4;
  text-shadow: none;
}

.toggle-checkbox {
  display: none;
}

.toggle-destaques i {
  transition: transform 0.3s ease;
}

.toggle-todos-destaques {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease, opacity 0.4s ease;
  z-index: 5;
}

.toggle-todos-destaques.aberto {
  max-height: 1000px;
  opacity: 1;
}

#toggle-destaques:checked~.toggle-todos-destaques {
  max-height: 3000px;
  opacity: 1;
  pointer-events: auto;
}

.toggle-destaques i {
  transition: transform 0.3s ease;
}

#toggle-destaques:checked+.toggle-destaques i {
  transform: rotate(180deg);
}


/* Slideshow Destaques - CodePen */
* {
  box-sizing: border-box;
}

/* Capa */
.mySlides .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Tamanho e margens Capa */
.slideshow-container {
  max-width: 450px;
  margin: auto;
}

/* Esconder imagens */
.mySlides {
  display: none;
}

/* Botões próx. e ant. */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(235, 200, 239);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev,
.next {
  z-index: 9;
}

/* Posição botão próx*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fundo hover (btn próx) */
.prev:hover,
.next:hover {
  background-color: rgba(61, 3, 84, 0.8);
}

/* Texto Título Álbum e Artista */
.text {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* Círculos de paginação */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #adb3ba;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #511e54;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.legenda-slideshow {
  background: rgba(145, 37, 192, 0.438);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

/* Fundo das Seções */
.destaques-fundo {
  background: rgba(124, 100, 134, 0.218);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.fundo-hero-topo {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(72, 1, 62, 0.356);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
}

.fundo-topo {
  background-image: url("../imagens/fundo/modern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.novidades-fundo {
  background: rgba(60, 130, 183, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.ofertas-fundo {
  background: rgba(183, 60, 97, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.detalhes-disco {
  background: rgba(129, 65, 129, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(129, 65, 129, 0.29);
}

.newsletter-fundo {
  background: rgba(170, 110, 145, 0.259);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6.3px);
}

/* Newsletter */
.newsletter-input {
  max-width: 500px;
  background-color: rgba(29, 0, 32, 0.697) !important;
}

.div-form-newsletter {
  background: rgba(212, 50, 112, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(212, 50, 112, 0.68);
  padding: 20px;
}

/* Preço Pág Detalhes */
.preco-container-detalhes {
  border-bottom: #5f62b3 1px solid !important;
}

/* Navbar Filtros */
.filtros-nav,
.catalogo-titulo {
  background: rgba(44, 20, 68, 0.851) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.navbar-item {
  color: white !important;
}

.catalogo-titulo {
  box-shadow: 1px 1px #959495 !important;
}

/* Disco Indiponível */
.disco-imagem,
.disco-imagem-horizontal {
  position: relative;
  overflow: hidden;
}

.faixa-indisponivel {
  position: absolute;
  top: 50%;
  width: 100%;
  box-shadow: 0 0 18px 4px rgba(255, 90, 140, 0.466);
  backdrop-filter: blur(4px) saturate(25%);
  -webkit-backdrop-filter: blur(4px) saturate(25%);
  background-color: rgba(211, 13, 82, 0.47);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.526));
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  z-index: 10;
}

/* Selo de Desconto */
.porcentagem {
  font-size: 1.5rem;
  font-weight: 700;
}

.texto-off {
  font-size: 1.2rem;
}

.selo-desconto-10 {
  border: 3px dashed #ff57a3;
  background-color: #7d008877;
  color: #ff578f;
  text-shadow:
    0 0 10px #8005bdd2,
    0 0 15px #d017ed,
    0 0 35px #9600e6;
}

.selo-desconto-20 {
  border: 3px dashed #ff3842;
  background-color: #b730c15e;
  color: #ff384c;
  text-shadow:
    0 0 10px #7d94acd2,
    0 0 15px #2756a19e,
    0 0 35px #7047dfa9;
}

.selo-desconto-15 {
  border: 3px dashed #28e5e8;
  background-color: #03248782;
  color: #28e5e8;
  text-shadow:
    0 0 8px #b0b0b0f7,
    0 0 15px #31373f9e,
    0 0 35px #3c3c3c6d;
}

.selo-desconto-05 {
  border: 3px dashed #a35af7;
  background-color: #38045d85;
  color: #a255f5;
  text-shadow:
    0 0 10px #1c143bf7,
    0 0 15px #9347949e,
    0 0 35px #c862d1a9;
}

.selo-porcentagem {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  transform: rotate(12deg);
  backdrop-filter: blur(5px);
  box-shadow: -4px 5px 8px #2e2e2e94;
}

/* Desconto */
.preco-normal,
.preco-normal-modal {
  text-decoration: line-through;
  text-decoration-color: #ce46f7;
  text-decoration-thickness: 1px;
  margin-right: 8px;
  font-size: 0.97rem;
  color: #c6c6c6ad !important;
}

.preco-desconto,
.preco-desconto-modal {
  color: #16ff77;
  font-weight: bold;
  font-size: 1.25rem;
  padding-right: 1px;
}

.precos-verticais {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
}

@media (max-width: 768px) {
  #section-resultados .title {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    word-break: normal;
    overflow-wrap: break-word;
  }

  #section-resultados .level {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  #section-resultados .level-left,
  #section-resultados .level-right {
    width: 100%;
  }

  #section-resultados .level-right {
    display: flex;
    justify-content: flex-end;
  }
}

/*  Select do Form  */
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: none !important;
  color: #ffffff !important;
  outline: none !important;
}

select option {
  background-color: #4f015f !important;
  color: #ffffff !important;
}

select:focus {
  border-color: #e2b8ff !important;
  box-shadow: 0 0 18px rgba(200, 150, 255, 0.9) !important;
}


.ofertas-fundo,
.novidades-fundo {
  overflow-y: scroll;
  max-height: 2000px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #21003642;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8700c1e1;
  border-radius: 5px;
  border: 3px solid #210036db !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #d383f5d5;
}

::-webkit-scrollbar-button:single-button {
  background-color: #21003600;
  display: block;
  border-style: solid;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #8700c1e1 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 6px 0 6px;
  border-color: #8700c1e1 transparent transparent transparent;
}