@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.section-fundo-estoque {
    background: rgba(1, 1, 1, 0.381);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
}

:root {
    --bulma-primary-h: 176deg;
    --bulma-primary-s: 94%;
    --bulma-primary-l: 46%;
    --bulma-link-h: 274deg;
    --bulma-info-h: 208deg;
    --bulma-info-s: 93%;
    --bulma-info-l: 81%;
    --bulma-success-h: 140deg;
    --bulma-success-s: 61%;
    --bulma-success-l: 59%;
    --bulma-danger-l: 61%;
    --bulma-burger-h: 272deg;
}

/* Modal */
/* Container Principal */
.modal-alerta {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    padding: 20px;
}

.modal-alerta.is-active {
    display: flex;
}

/* Fundo do Modal */
.modal-fundo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/* Card */
.alerta-cartao {
    position: relative;
    width: 100%;
    max-width: 450px;
    background: rgba(91, 68, 96, 0.156);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    overflow: hidden;
    color: white;
    animation: entrada-suave 0.3s ease-out;
}

/* Cabeçalho */
.alerta-topo {
    background: rgba(123, 59, 129, 0.427) !important;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: white;
}

/* Conteúdo */
.alerta-corpo {
    padding: 20px;
    background: transparent !important;
    color: white;
}

.alerta-corpo .title, 
.alerta-corpo .subtitle {
    color: white !important;
}

.navbar {
background: rgba(36, 0, 57, 0.69);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
}

/* formulário */
#container-formulario {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    max-height: 2000px;
    overflow-x: auto;
    overflow-y: auto;
}

#container-formulario.is-hidden {
display: block !important;
    opacity: 0;
    transform: translateY(-20px);
    max-height: 0;
    margin-bottom: 0 !important;
    visibility: hidden;
    pointer-events: none;
    transition: 
        opacity 0.3s ease-in-out, 
        transform 0.3s ease-in, 
        max-height 0.4s cubic-bezier(1, 0, 1, 0),
        visibility 0s 0.4s;
}

#btn-abrir-formulario {
    transition: all 0.3s ease;
}

/* Tags */
.toggle-tag {
    opacity: 0.4;
    filter: grayscale(100%);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
}

.toggle-tag.is-active {
    opacity: 1 !important;
    filter: grayscale(0%) !important;
    transform: scale(1.05);
}

.toggle-tag:hover {
    opacity: 0.7;
    filter: grayscale(50%);
}

.disco-tags {
    outline: 1px solid rgba(200, 200, 200, 0.192);
    border-radius: 5px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

/* Tabela */
.linha-disco:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.has-background-dark td {
    border-color: #4a4a4a !important;
    color: #eee !important;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

/* Tabela de Estoque */
.linha-disco {
    cursor: pointer;
    transition: background 0.2s;
}

.linha-disco:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

/* Container expandido */
.detalhe-capa {
    width: 120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.coluna-info {
    border-left: 1px solid #333;
}

.divisor-detalhe {
    background-color: #444;
    margin: 10px 0;
    border: none;
    height: 1px;
}

.texto-resumo {
    color: #bbb;
}

/* Lista de faixas */
.container-tracklist {
    max-height: 250px;
    overflow-y: auto;
    background: #121212;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #222;
}

/* Faixas na lista */
.track-item {
    border-bottom: 1px solid #1a1a1a;
    padding: 4px 0;
    font-size: 0.85rem;
}

.track-header-lado {
    border-bottom: 1px solid #66614b;
    margin-bottom: 5px;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.linha-disco.is-selected {
    background-color: #3d314a !important;
    border-bottom: none; 
}

.linha-disco.is-selected + tr {
    background-color: #2b2433 !important;
}

.linha-disco {
    transition: background-color 0.3s ease;
}

/* Switch */
.field .switch {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2.8rem;
  height: 1.5rem;
  background-color: #4a4a4a;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.field .switch::before {
  content: "";
  position: absolute;
  top: 0.15rem;
  left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.field .switch:checked {
    background-color: #209cee; /* Cor is-info do Bulma */
}

.field .switch:checked::before {
  transform: translateX(1.2rem);
}

.field {
    display: flex;
    align-items: center;
}